<form formGroup="registerForm">

</form>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item >
      <ion-input [(ngModel)]="registrationUser.username" placeholder="Nome Completo" type="text" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="registrationUser.email" placeholder="Digite seu email" type="email" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="registrationUser.celular" placeholder="Digite seu celular" type="number" required ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input [(ngModel)]="registrationUser.password" placeholder="Digite sua senha" [type]="tipo ? 'text':'password'" required></ion-input>
      <button (click)="exibirPassword1()" style="align-items: flex-start;">
        <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
      </button>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="Cadastar()">Cadastar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title [routerLink]="['/login']" style="font-size: small;">Já tenho conta</ion-title>
      </ion-col>
    </ion-row>

</ion-content>