<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
 <div lass="logo" id="logo">
  <ion-list> 
    <ion-img class="logo" id="logo" src="../assets/icon/logo.png"></ion-img>
  </ion-list>
 </div>

  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" [type]="tipo ? 'text':'password'" [(ngModel)]="password" required></ion-input>
      <button (click)="exibirPassword()" style="align-items: flex-start;">
        <ion-icon [name]="tipo ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  
  <ion-button fill="solid" expand="block" [routerLink]="['/resumo']">Login</ion-button>
  <ion-button [routerLink]="['/registration']" expand="block" color="danger">Cadastrar</ion-button>
</ion-content>
